.item-list-container {
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-columns: minmax(0, 300px);
  justify-content: center;
}
@media (min-width: 640px) {
  .item-list-container {
    grid-template-columns: repeat(2, 300px);
  }
}
@media (min-width: 960px) {
  .item-list-container {
    grid-template-columns: repeat(3, 400px);
  }
}

.card {
  
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
 
  padding: 10px;
  flex-direction: column;
  text-align: center;
}

.card-img {
  width: 100%;
  height: 400px;
  object-fit: contain;
  background-color: #ffffff;
}

.card-body {
  padding: 15px;
  flex-grow: 1;
}

.card-title {
  font-size: 1.30rem;
  font-weight:800;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 15px;
}

.card-price {
  font-size: 1.3rem;
  font-weight: bold;
  color: #2a9d8f;
  margin-bottom: 15px;
  padding: 10px;
}

.card-body button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.card-body button:hover {
  background-color: #0056b3;
}
.card-btn{
padding: 15px 60px;
  border: none;

  
  border-radius: 5px; 
  color: white;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;  
text-decoration: none;
  
  background: linear-gradient(to right, #004494 50%, #007bff 50%);
  
   
  background-size: 200% 100%;
  
   background-position: right bottom;
  
   transition: background-position 0.4s ease-out;
}
.card-btn:hover{
background-position: left bottom;
  
}