.item-detail {
    max-width: 1100px;
    margin: 100px auto 50px auto;
    padding: 0 40px;
}


.item-detail-content {
    display: flex;          
    flex-direction: row;   
    gap: 60px;              
    align-items: center;    
}

/* Imagen */
.item-detail-img {
    width: 50%;             
    max-width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;   
}


.item-detail-info {
    width: 50%;             
    display: flex;
    flex-direction: column;
    gap: 15px;             
    text-align: left;      
}

.item-detail-info h2 {
    font-size: 2rem;
    color: #1d1a1a;
}

.item-detail-info .precio {
    font-size: 2rem;
    font-weight: bold;
    color: #4c957f; 
}