
.empty-cart-container {
    width: 100%;
    height: 80vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-gray);
}

.empty-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
}


.empty-icon {
    font-size: 8rem; 
    color: #d1d5db;  
    margin-bottom: 10px;
}

.empty-content h1 {
    font-size: 2rem;
    color: var(--dark-bg); 
    font-weight: 800;
}

.empty-content p {
    color: #6b7280; 
    font-size: 1.1rem;
    margin-bottom: 10px;
}


.btn-home {
    background-color: var(--primary-color); 
    color: white;
    padding: 12px 30px;
    border-radius: 50px; 
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1rem;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(16, 185, 129, 0.2); 
    display: inline-block;
}

.btn-home:hover {
    background-color: #059669; 
    transform: translateY(-3px); 
    box-shadow: 0 10px 15px rgba(16, 185, 129, 0.4); 
}