 
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;900&display=swap');
:root {
    --white: #fff;
    --light-gray: #efefef;
    --gray: rgba(216, 215, 214, 0.3);
    --gray2: #9c9c9c;
    --primary-color: #4c957f;
    --black: #1d1a1a;
    --font: 'Red Hat Display', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: var(--font);
}
 body{
    width: 100%;
    height: 100vh;
    background: var(--light-gray);
    overflow: hidden;
      overflow-y: auto;
    
 }

 header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    z-index: 1000;
 }
 header .btn-menu,
 header .logo,
 header .btn-group .btn-shop
 {
    text-decoration: none;
    font-size: 2em;  
    color: var(--white)
 }
header .btn-shop {
  
  background: var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;  
  justify-content: center;  
  color: var(--black);
 position: relative;
  padding: 15px;
  cursor: pointer;
}
 header .logo{
    text-decoration: none;
    font-weight: bolder;
    z-index: 1;
 }
 header .btn-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
 }
 .btn-primary{
    display: inline-block;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 1px;
    background: var(--primary-color);
    padding: 15px 25px;
    transition: 0.3s;
    border-radius: 25px;
    color:var(--white);

 }
 .btn-primary:hover{
    background: var( --gray2);
 }

 .menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    background: var(--gray);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    transition: 1s;
    z-index: 1000;
    padding-left: 70px;
    transform: translateX(-100%);
 }
 .menu.active{
     transform: translateX(0%);
 }
 .menu .btn-close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    font-size: 3em;
    color: var(--black);
 }
 .menu ul{
    list-style: none;
 }
 .menu ul li{
    margin-bottom: 30px;
     
 }
 .menu ul li a{
   text-decoration: none;
   font-size: 2.5em;
   letter-spacing: 1px;
   color: var(--black);
   transition: 0.3s;
     
 }
  .menu ul li a:hover{
    color: var(--primary-color);
    letter-spacing: 3px;
  }
.cart-quantity-inline {
   
    position: absolute;
    top: -5px;
    right: -5px;

    
    background-color: #eb0101; 
    width: 20px;
    height: 20px;
    border-radius: 50%;
    
   
    color: #ffffff !important; 
    font-size: 11px !important;
    font-weight: bold;
    font-family: Arial, sans-serif;

  
    display: flex;
    justify-content: center;
    align-items: center;
    

    z-index: 10;
    line-height: 1; 
}
.form{
   display: flex;
   flex-direction: column;
   width: 100vw;
   justify-content: center;
}