/* --- index.css --- */

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;700;900&display=swap');

/* 1. Variables Globales */
:root {
    --white: #ffffff;
    --light-gray: #f3f4f6;  
    --dark-bg: #111827;       
    --primary-color: #10B981; 
    --font: 'Red Hat Display', sans-serif;
    --shadow: 0 4px 20px rgba(0,0,0,0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

html {
    /* Esto define la animación suave nativa */
    scroll-behavior: smooth;
    
    /* Esto es CRÍTICO: le dice al navegador que pare 100px antes 
       del elemento para que tu Navbar no tape el título */
    scroll-padding-top: 100px; 
}

body {
    background: var(--light-gray);
    width: 100%;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden; /* Evita el scroll lateral accidental */
}

#root {
    min-height: 100vh;
    width: 100%;
}